*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

.dbg{
    border: 1px solid red;
}

.nav{
    width: 100%;
    height: 150px;
    background-color: rgb(255, 251, 253);
}

.nav .nav-left {
    float:left;
    padding:30px;
    font-size: 17px;
    margin-left: 100px;
}

.nav-left li {
    list-style-type: none;
    float: left;
    margin: 80px;
    margin-left: 50px;
    cursor: pointer;

}

#mnu1_sub {
    display:none;
    
}    
#mnu1:hover #mnu1_sub {
    display:block;
    max-width: 30px;
    padding: 10px;
    cursor: pointer;
}

.nav .nav-right{
    float: right;
    padding: 20px;
    font-size: 17px;
}

.nav .nav-right > a{
    padding: 30px;
    text-decoration: none;
    color: inherit;
}

.nav-right .search-container {
    margin-top: 25px;
}

.nav-right input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.nav-right .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.nav-right .search-container button:hover {
    background: #ccc;
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
.Login {background-color: #2196F3;}
.Login:hover {background: #0b7dda;}

.mid{
    width: 100%;
    height: 600px;
}