*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    
}

body {
    
    font-family: 'Fuzzy Bubbles', cursive;
}

.dbg{
    border: 0px solid red;
}

.nav{
    width: 100%;
    height: 150px;
    background-color: white;
    
}
/* 좌측상단 메뉴 바 */
.nav-left  {
    float:left;
    padding: 20px;
    font-size: 12px;
    margin-left: 100px;
    font-family: 'Kings', cursive;
    
}

.nav-left> a{
    
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    
}
/* 로고 이미지 */
.logo {
    position: absolute;
    margin-left: 830px;
    font-size: 60px;
    margin-top: 70px;
    font-family: 'Luxurious Script', cursive;
    
}

.logo > a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;

}

/* 우측 상단 메뉴 */
.nav .nav-right{
    float: right;
    padding: 20px;
    font-size: 12px;
    margin-right: 100px;
}

.nav .nav-right > a{
    padding: 1px;
    text-decoration: none;
    color: inherit;
}
/* 우측상단 검색창 */
.nav-right .search-container {
    margin-top: 25px;
}

.nav-right input[type=text] {
    padding: 6px;
    margin-top: 5px;
    font-size: 15px;
    border: none;
}

.nav-right .search-container button {
    float: right;
    padding: 2px 5px;
    margin-top: 2px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.nav-right .search-container button:hover {
    background: #ccc;
}

.btn {
    border: none;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 10px;
}
    
.Login{
    text-decoration: none;
    color: inherit;
    background-color: white
}
.Login:hover {
    text-decoration: none;
    color: inherit;
    background: #f7c7f7;
}
.Login > a{
    text-decoration: none;
    color: inherit;
    
}
.Login a:hover {
    text-decoration: none;
    color: inherit;
    background: #f7c7f7;
}



/* 중간 시작 */

/* 중간 메뉴 바 */
.mid-top {
    
    height: 30px;
    margin-left: 352px;
    color: rgb(15, 3, 17);
    background-color: white;
}

.mid-top li {
    list-style-type: none;
    float: left;
    margin-top: 5px;
    margin-left: 150px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Kings', cursive;
}


.mid_top{
    float: left;
    width: 352px;
    height: 30px;
    background-color: white;
}

#mnu1_sub {
    display:none;
    z-index: 1;
    position: absolute;
    background-color: white;
    
}    
#mnu1:hover #mnu1_sub {
    display:block;
    max-width: 120px;
    padding: 10px;
    cursor: pointer;
    
    
}
/* 중간 메뉴 하위 속성 */
.sub > a{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;

}

.mid_mid{
    width: 100%;
    height: 600px;
    background-color: white;
    
}

/* 슬라이드 뷰 시작 */
.mySlides {display: none;}

.slideshow-container {
    max-width: 1500px;
    max-height: 600px;
    position: relative;
    margin-top: 10px;
    margin-left: 210px;
    

}


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* //중앙 위클리 베스트 */
.mid_wee{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 17px;
    font-family: 'Kings', cursive;
}
.mid_wee > button{
    margin-top: 20px;
    padding: 10px;
    border: 1px dotted rgb(202, 201, 201);
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: white;
    font-family: 'Kings', cursive;
}
.mid_wee >button:hover{
    background-color: rgb(223, 217, 217);
}



.mid_bo{
    width: 100%;
    height: 300px;
    margin-top: 30px;
    text-align: center;
    font-family: 'Kings', cursive;
    
}

.mid_bo_1{
    float: left;
    width: 400px;
    height: 250px;
    margin-left: 180px;
    background-color: rgb(248, 246, 245);
}

.mid_bo_1 > p{
    font-size: 25px;
    margin-top: 50px;
}

.mid_bo_1> button{
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    border: none;
    background-color: rgb(240, 189, 142);
    cursor: pointer;
}

.mid_bo_1> button:hover{
    background-color: wheat;
}

.mid_bo_2{
    float: left;
    width: 400px;
    height: 250px;
    margin-left: 200px;
    position: relative;
    
    
}

.mid_bo_2::after{
    content: "";
    background: url(/img/mibo.png);
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.mid_bo_2 > a{
    color: black;
    text-align: center;
    position: relative;
    line-height: 250px;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
}

.mid_bo_2 > a:hover{
    background-color: white;
    
}



.mid_bo_3{
    float: left;
    width: 400px;
    height: 250px;
    margin-left: 200px;
    text-align: left;
    border: 0.1px dotted black;
    border-top-color: white ;
    border-right-color: white;
    
    
}

.mid_bo_3 > p{
    float: left;
    margin-left: 30px;
    
}

.mid_bo_3 > a{
    float: right;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-right: 10px;

}

.mid_bo_3 hr{
    margin-top: 10px;
    margin-left: 20px;
}

.not > a{
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Nanum Pen Script', cursive;
}

.not > p{
    float: right;
    margin-top: 30px;
}
/* 베스트 상품라인 사직 */
.best{
    text-align: center;
    font-family: 'Kings', cursive;
    font-size: 17px;
}

.mid_bo_best{
    width: 100%;
    height: 800px;

}

.poshow > a{
    cursor: pointer;
}

.best_po1{
    float: left;
    width: 400px;
    height: 600px;
    margin-top: 30px;
    margin-left: 60px;
}

.best_po2{
    float: left;
    width: 400px;
    height: 600px;
    margin-top: 30px;
    margin-left: 60px;
}

.best_po3{
    float: left;
    width: 400px;
    height: 600px;
    margin-top: 30px;
    margin-left: 60px;
}

.best_po4{
    float: left;
    width: 400px;
    height: 600px;
    margin-top: 30px;
    margin-left: 60px;
}
/* 아우터 사진라인시작 */
.mid_beou{
    text-align: center;
    font-family: 'Kings', cursive;
    font-size: 17px;
}

.mid_bo_outer{
    width: 100%;
    height: 800px;

}

.outer_po1{
    float: left;
    width: 400px;
    height: 600px;
    margin-top: 30px;
    margin-left: 60px;
}

.outer_po2{
    float: left;
    width: 400px;
    height: 600px;
    margin-top: 30px;
    margin-left: 60px;
}

.outer_po3{
    float: left;
    width: 400px;
    height: 600px;
    margin-top: 30px;
    margin-left: 60px;
}

.outer_po4{
    float: left;
    width: 400px;
    height: 600px;
    margin-top: 30px;
    margin-left: 60px;
}

.poshow {
    display: none;
    
    max-width: 400px;
    max-height: 600px;
}


.bot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.po1{
    width: 400px;
    height: 150px;
    padding: 30px;
    font-family: 'Kings', cursive;
}

.mid_bo_dress{
    width: 100%;
    height: 800px;

}

.dress_po1{
    float: left;
    width: 400px;
    height: 600px;
    margin-top: 30px;
    margin-left: 60px;
}

.dress_po2{
    float: left;
    width: 400px;
    height: 600px;
    margin-top: 30px;
    margin-left: 60px;
}

.dress_po3{
    float: left;
    width: 400px;
    height: 600px;
    margin-top: 30px;
    margin-left: 60px;
}

.dress_po4{
    float: left;
    width: 400px;
    height: 600px;
    margin-top: 30px;
    margin-left: 60px;
}

.bottom_top{
    width: 100%;
    height: 80px;
}

.bottom{
    width: 100%;
    height: 300px;
    font-family: 'Kings', cursive;
}
.bot_le{
    float: left;
    margin-left: 50px;
    width: 600px;
    height: 300px;
    padding: 50px;
    background-color: rgb(245, 244, 244);
    border: 1px dotted;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: white ;
}

.bot_le > p{
    text-align: center;
    margin-top: 10px;
}



.bot_cen{
    float: left;
    width: 600px;
    height: 300px;
    padding: 50px;
    font-family: 'Kings', cursive;
    background-color: rgb(245, 244, 244);
    border: 1px dotted;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: white ;
}

.bot_cen > h3{
    text-align: center;
}

.bot_cen > p{
    text-align: center;
    margin-top: 30px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
}



.bot_rig{
    float: left;
    width: 600px;
    height: 300px;
    background-color: rgb(245, 244, 244);
    padding: 50px;
}

.bot_rig > p {
    text-align: center;
    font-size: 20px;
}

.bot_rig > i{
    margin-top: 70px;
    margin-left: 83px;
    cursor: pointer;
    
    
}