*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    
}

body {
    
    font-family: 'Fuzzy Bubbles', cursive;
}

.dbg{
    border: 1px solid red;
}

.nav{
    width: 100%;
    height: 200px;
    background-color: rgb(255, 251, 253);
}
/* 좌측상단 메뉴 바 */
.nav-left  {
    float:left;
    padding: 20px;
    font-size: 12px;
    margin-left: 100px;
}

.nav-left> a{
    
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(237, 162, 247);
    
}
/* 로고 이미지 */
.logo > img{
    position: absolute;
    margin-left: 400px;
    width: 170px;

}

/* 우측 상단 메뉴 */
.nav .nav-right{
    float: right;
    padding: 20px;
    font-size: 12px;
    margin-right: 100px;
}

.nav .nav-right > a{
    padding: 1px;
    text-decoration: none;
    color: inherit;
}
/* 우측상단 검색창 */
.nav-right .search-container {
    margin-top: 25px;
}

.nav-right input[type=text] {
    padding: 6px;
    margin-top: 5px;
    font-size: 15px;
    border: none;
}

.nav-right .search-container button {
    float: right;
    padding: 2px 5px;
    margin-top: 2px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.nav-right .search-container button:hover {
    background: #ccc;
}

.btn {
    border: none;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.Login {background-color: #f7d9f7;}
.Login:hover {background: #f7c7f7;}

/* 중간 시작 */

/* 중간 메뉴 바 */
.mid-top {
    
    height: 30px;
    margin-left: 352px;
    color: rgb(15, 3, 17);
    background-color: rgb(255, 251, 253);
}

.mid-top li {
    list-style-type: none;
    float: left;
    margin-top: 10px;
    margin-left: 150px;
    cursor: pointer;
    font-size: 17px;

}


.mid_top{
    float: left;
    width: 352px;
    height: 30px;
    background-color: rgb(255, 251, 253);
}

#mnu1_sub {
    display:none;
    z-index: 1;
    position: absolute;
    background-color: seashell;
    
}    
#mnu1:hover #mnu1_sub {
    display:block;
    max-width: 120px;
    padding: 10px;
    cursor: pointer;
    
    
}
/* 중간 메뉴 하위 속성 */
.sub > a{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;

}

.mid_mid{
    width: 100%;
    height: 600px;
    background-color: rgb(255, 251, 253);
    
}

/* 슬라이드 뷰 시작 */
.mySlides {display: none;}

.slideshow-container {
    max-width: 1200px;
    max-height: 700px;
    position: relative;
    margin-top: 10px;
    margin-left: 350px;
    

}


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.mid_no{
    width: 100%;
    height: 400px;
}




